// imports

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import './utilities/colors';
@import './utilities/mixins';

// CSS Reset

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

figure {
  margin: 0;
}

button {
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

// Custom styles

body {
  color: $green;
  font-family: 'Roboto Mono', sans-serif;
  padding: 4rem 2.5rem;
  font-weight: 400;
}

.btn {
  border: 3px solid $green;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  transition: all ease-in-out 100ms;

  &:hover {
    background-color: $green;
    color: $white;
    cursor: pointer;
  }

  &:focus {
    outline: 3px dotted $yellow;
  }

  &.is-dark {
    border-color: $green;
    background-color: $green;
    color: $white;
    &:hover {
      border-color: $white;
      background-color: $white;
      color: $green;
      @include hover-card-shadow;
    }
    &:active {
      box-shadow: none;
    }
  }

  &.is-warning {
    border-color: $red;
    color: $red;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  &.is-not-outlined {
    border-color: rgba($white, 0);
    &:hover {
      color: $red;
      background-color: rgba($red, 0.1);
    }
  }

  &.is-icon-wrapper {
    padding: 0 1rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.is-regular {
  font-weight: 400;
}
.is-bold {
  font-weight: 700;
}

.m0 {
  margin: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p0 {
  padding: 0;
}

section {
  margin: 2rem 0;
}

.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
}

// forms

input {
  border: 3px solid $green;
  font-family: inherit;
  color: inherit;
  height: 2.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  &:focus {
    outline: 5px dotted $yellow;
  }
}

.field-error {
  color: $red;
}

// animations

.spins {
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hides {
  opacity: 0;
  pointer-events: none;
}
