@import '../../utilities/colors';
@import '../../utilities/mixins';

.modal {
  width: 600px;
  height: auto;
  padding: 4rem;
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  text-align: center;
  z-index: 1000;
  @include box-shadow;

  h1 {
    margin-bottom: 2rem;
  }
}

.modal-back-overlay {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.new-list {
  form {
    display: flex;
    flex-direction: column;
    label {
      text-align: left;
    }
    input {
      font-size: 2rem;
      height: auto;
    }
    button {
      align-self: center;
      padding: 1rem 3rem;
    }
  }
}
