@import '../../utilities/colors';
@import '../../utilities/mixins';

.list {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40%;

  h1 {
    font-size: 5rem;
    border-bottom: 10px solid $green;
    line-height: 0.9em;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .list-subtitle {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1rem;
      display: inline;
    }
    small {
      font-size: 1rem;
      color: $red;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  form {
    display: flex;

    input {
      border-radius: 5px 0 0 5px;
      border-width: 3px 0 3px 3px;
      flex-grow: 1;
    }

    button {
      height: 2.5rem;
      border-radius: 0 5px 5px 0;
      background: $green;
      color: #fff;
    }
  }
}

.buy-all {
  margin-top: 3rem;
  .btn {
    height: 6rem;
    width: 100%;
    &:hover {
      border-color: $white;
      @include hover-card-shadow;
    }
  }
}

.right {
  width: 60%;
}
