@import '../../utilities/colors';

.list {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 40%;

  h1 {
    font-size: 5rem;
    border-bottom: 10px solid $green;
    line-height: 0.9em;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 3rem;
  }

  form {
    display: flex;

    input {
      border-radius: 5px 0 0 5px;
      flex-grow: 1;
    }

    button {
      height: 2.5rem;
      border-radius: 0 5px 5px 0;
      background: $green;
      color: #fff;
      padding: 0.5rem 1rem;
    }
  }
}

.right {
  width: 60%;
}
