nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2.5rem;

  h1 {
    font-size: 2rem;
  }

  ul {
    display: flex;

    li {
      font-size: 1.2rem;
      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }
  }
}
